* {
  margin: 0;
  padding: 0;
}
#bannner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), #009688), url(banner.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.logo {
  left: 10%;
  width: 140px;
  position: absolute;
  top: 4%;
}
.bannner-text {
  text-align: center;
  color: white;
  padding-top: 180px;
}
.bannner-text h1 {
  font-size: 130px;
}
.bannner-text p {
  font-size: 20px;
  font-style: italic;
}
